:root {
    --black: #212121;
    --white: #ffffff;
    --primary_color: #2f303a;
    --blue: #2196f3;
    --light_blue: #188ce8;
    --grey: #757575;
    --white_button: #f5f4fa;
    --dominant_font: "Roboto", sans-serif;
    --icon: #afb1b8;
    --like_white: #f5f4fa;
}

body {
    font-family: var(--dominant_font);
    color: var(--black);
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    font-weight: 400;
}

button {
    font: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

ul, ol {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
}

li {
    list-style-type: none;
}

/*header section*/

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-icon{
    margin-right: 10px;
    align-self: center;
    fill:currentColor;
}

.main-nav {
    display: flex;
    align-items: center;
    margin-left: 93px;
}

.logo {
    color: var(--blue);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.logo-black {
    color: var(--black);
}

.logo-white {
    color: var(--white);
}

.nav-menu {
    display: flex;
    gap: 50px;
}

.nav-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    transition: color 300ms ease-in-out;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: var(--blue);
}

.contact-info {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 40px;
    color: var(--grey);
    font-weight: 500;
    letter-spacing: 0.02em;
}

.contact-link {
    color: var(--grey);
    font-weight: 500;
    letter-spacing: 0.02em;
    transition: color 300ms ease-in-out;
    display: flex;
    align-items: center;
}


.contact-link:hover,
.contact-link:focus {
    color: var(--blue);
}

/*personal-template section*/

.personal-template {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-background.jpg");
    background-size: cover;

}

.personal-template-title {
    color: var(--white);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin-bottom: 30px;
}

.order-button {
    color: var(--white);
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border-radius: 4px;
    background: var(--blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 24px;
    transition: background-color 0.5s;
}

.order-button:hover,
.order-button:focus {
    background-color: var(--light_blue);
}

/*features section*/

.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list {
    display: flex;
    gap: 30px;
}

.feature-item {
    max-width: 270px;
}

.feature-title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature-description {
    color: var(--grey);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.detail-list-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 100px;
    margin-bottom: 30px;
    background-color: var(--like_white);
    border-radius: 4px;
}

/*services section*/

.services {
    text-align: center;
    padding-bottom: 94px;
}

.section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.services-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

/*team section*/

.team-section {
    background: var(--white_button);
    padding-bottom: 94px;
    padding-top: 94px;
}

.team-members {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: nowrap;
}

.team-card {
    border-radius: 0px 0px 4px 4px;
    background: var(--white);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.member-info {
    padding: 30px;
}

.member-name {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    margin-bottom: 10px;

}

.member-position {
    color: var(--grey);
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.03em;
}

.members-social-links{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 16px;
}

.members-social-links li {
    width: 44px;
    height: 44px;
}

.social-links-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: var(--icon);
    fill: currentColor;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

a.social-links-icons:hover,
a.social-links-icons:focus {
    background-color: var(--blue);
    color: var(--white);
    outline: none;
}

/*client section*/

.clients{
    text-align: center;
    padding: 94px 0;
    margin: 0;
}

.client-list{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
}
.clients-title{
    color: var(--black);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    word-wrap: break-word;
    margin-bottom: 50px;}

.client a{
    border-radius: 4px;
    border: 1px var(--icon) solid;
    display: inline-block;
    color: var(--icon);
    padding: 16px 32px;
    transition: color 0.5s, border 0.5s;
}
.client a:hover,
.client a:focus {
    color: var(--blue);
    border: 1px var(--blue) solid;
}

.client-logo{
    width: 100%;
    height: 100%;
    fill: currentColor;
    transition: fill 0.5s;
}

/*footer section*/

.footer {
    background: var(--primary_color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 28px;
}

.footer-address {
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.address-list li:not(:last-child) {
    margin-bottom: 12px;
}

.physical-address {
    color: var(--white);
    transition: color 300ms ease-in-out;
}
.physical-address:focus,
.physical-address:hover{
    color: var(--blue)

}

.footer .contact-link {
    color: rgba(255, 255, 255, 0.6);
}

.footer .contact-link:hover,
.footer .contact-link:focus {
    color: var(--blue);
}

.footer .container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: baseline;
}


.footer-join{
    color: var(--white);
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;
}

.footer-social-links{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.footer-social-links li{
    height: 44px;
    width: 44px;
}

.footer-social-links-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;

    color: var(--white);
    fill: currentColor;
    transition: color 0.5s, background-color 0.5s;
}

.footer-social-links-icons:hover,
.footer-social-links-icons:focus {
    color: var(--white);
    fill: currentColor;
    background-color: var(--light_blue);
}

.contact-info-footer {
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
    line-height: 1.14;
    font-style: normal;
}


.contact-info-footer a {
    transition: color 300ms ease-in-out;
}

.contact-info-footer a:hover, a:focus {
    color: var(--blue);
}

.footer-content{
    margin-right: 94px;
}

/*portfolio styles*/
/*portfolio section*/

.portfolio {
    padding-bottom: 94px;
    padding-top: 94px;
}

.portfolio-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 50px;
}

.filter-button {
    color: var(--black);
    text-align: center;
    padding: 6px 22px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
    border: none;
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item {
    border: 1px solid #EEE;
    background: var(--white);
    max-width: 370px;
}

.portfolio-image {
    width: 100%;
}

.portfolio-info {
    padding: 20px 23px;
}

.portfolio-title {
    color: var(--black);
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    letter-spacing: 0.06em;
}

.portfolio-type {
    color: var(--grey);
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
}

.portfolio-link {
    display: block;
    text-decoration: none;
}


.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item a{
    display: inline-block;
    transition: box-shadow 300ms ease-in-out;
}



