.header {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  @include tablet {
    padding: 6px 0;
  }
  @include mobile {
    padding: 10px 0;
  }


  &-container {
    display: flex;
    align-items: center;
    @include desktop {
      justify-content: flex-start;
    }
  }

  &-icon{
    margin-right: 10px;
    align-self: center;
    fill:currentColor;
  }
}


.logo {
  color: $blue;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  &-black {
    color:$black;
  }
  
  &-white {
    color: $white;
  }
}


.main-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
  @include mobile {
    display: none;
  }

  &-menu {
    display: flex;
    gap: 50px;
  }
}


.nav-link {
  position: relative;
  color: #212121;
  text-decoration: none;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &-active {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.03em;
    word-wrap: break-word;
    color: $blue;

    &::after {
      content: "";
      display: block;
      bottom: -32px;
      border-radius: 2px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $blue;
      position: absolute;
    }
  }
  
  &:hover,
  &:focus,
  &.current {
    color: $blue;
  }
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 40px;
  color: $grey;
  font-weight: 500;
  letter-spacing: 0.02em;
  @include desktop {
    margin-left: auto;
  }
  @include tablet {
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }
  @include mobile {
    display: none;
  }

  &-link {
    color: $grey;
    font-weight: 500;
    letter-spacing: 0.02em;
    transition: color 300ms ease-in-out;
    display: flex;
    align-items: center;
    @include tablet {
      font-size: 12px;
      padding: 0px;
    }

    @include desktop {
      font-size: inherit;
    }

  }
}



.mobile-button {
  @include mobile{
    display: block;
    margin-right: 0px;
    margin-left: auto; 
    position: relative;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 1000;
    cursor: pointer;
  }
  @include tablet{
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.mobile-button-icon {
  width: 40px;
  height: 40px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-button-icon {
  .mobile-button:hover &,
  .mobile-button:focus & {
    fill: $blue;
  }
}

.mobile-button--close {
  opacity: 0;
}

.mobile-button.is-open .mobile-button--close {
  opacity: 1;
}

.mobile-button.is-open .mobile-button--open {
  opacity: 0;
}

.mobile {
  @include mobile{ 
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 48px 40px;
    z-index: 20;
    transform: translateX(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
 
  @include tablet{
    display: none;
  }
  @include  desktop {
    display: none;
  }
}

.mobile.is-open {
  transform: translateX(0);
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts-list {
  margin-bottom: 64px;
  margin-top: auto;
}

.mobile-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}



.mobile-menu-link {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.8px;
  color: $black;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  align-items: flex-start;

  &:hover,
  &:focus {
    color: $blue;
  }
}

.mobile-contacts-link {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.48px;
  color: $grey;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $blue;
  }
}

.mobile-contacts-link--blue {
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.68px;
  color: $blue;
}

.mobile-social-list {
  display: flex;
  flex-wrap: wrap;
}

.mobile-social-item {
  display: flex;
  flex-wrap: wrap;
}

.mobile-social-item:not(:last-child) {
  margin-right: 10px;
}

.mobile-social-item:not(:last-child)::after {
  content: '';
  width: 1px;
  height: 100%;
  margin-left: 10px;
  background-color: rgba(33, 33, 33, 0.2);
  display: block;
}

.mobile-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.36px;
  color: $blue;
}

